---
// style imports
import "../styles/toggle.css";
---

<div class="toggle-wrapper">
  <button
    class="toggle"
    id="toggle"
    title="Toggle Dark & Light Theme"
    aria-lable="auto"
    aria-live="polite"
    value="auto"
  >
    <svg
      class="toggle-icon"
      fill="currnetColor"
      height="24"
      width="24"
      viewBox="0 0 24 24"
    >
      <circle
        class="sun"
        cx="12"
        cy="12"
        r="6"
        fill="currnetColor"
        mask="url(#moon)"></circle>

      <g class="sun-beams" stroke="currentColor" stroke-linecap="round">
        <line x1="12" x2="12" y1="1" y2="3"></line>
        <line x1="12" x2="12" y1="21" y2="23"></line>
        <line x1="4.22" x2="5.64" y1="4.22" y2="5.64"></line>
        <line x1="18.36" x2="19.78" y1="18.36" y2="19.78"></line>
        <line x1="1" x2="3" y1="12" y2="12"></line>
        <line x1="21" x2="23" y1="12" y2="12"></line>
        <line x1="4.22" x2="5.64" y1="19.78" y2="18.36"></line>
        <line x1="18.36" x2="19.78" y1="5.64" y2="4.22"></line>
      </g>

      <mask class="moon" id="moon">
        <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
        <circle cx="24" cy="10" r="6" fill="black"></circle>
      </mask>
    </svg>
  </button>
</div>

<script>
  import "../js/toggle";
</script>
