---
// components imports
import Head from "./Head.astro";

// global styles
import "../styles/global.css"

const { title } = Astro.props;
---

<html lang="en">
	<Head title={title} />
	<body>
		<slot>
      <h1>
        Welcome to <span style="font-weight: bold; color: midnightblue">{title}</span> page
      </h1>
    </slot>
	</body>
</html>
